[Unit]
Description=Run certbot twice daily, with a 0-60min random delay added

[Timer]
Unit=certbot.service
OnUnitActiveSec=12h
RandomizedDelaySec=60m

[Install]
WantedBy=timers.target
