[Unit]
Description=Poll to set dynamic DNS in case it changes

[Timer]
OnBootSec=15s
OnUnitActiveSec=12h
Persistent=true

[Install]
WantedBy=timers.target
