[Unit]
Description=Poll to set dynamic DNS in case it changes

[Timer]
Unit=hosted_zone_ip.service
OnBootSec=0s
OnUnitActiveSec=24h

[Install]
WantedBy=timers.target
