[Unit]
Description=Run certbot twice daily

[Timer]
Unit=certbot.service
OnUnitActiveSec=12h
RandomizedDelaySec=60m

[Install]
WantedBy=timers.target
